@using Blazored.LocalStorage
@using Blazored.LocalStorage.StorageOptions
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject LikedSongsComponent likedSongsComponent

<div class="section--body--item song--item">
    <div class="section--body--item--img">
        <img src="res/album_thumbnail/@song.Image" alt="@song.Title" @onclick="() => PublishMqtt(song.Id)">
    </div>
    <p class="section--body--item--title" title="@song.Title">@song.Title</p>
    <p class="section--body--item--subtitle">@song.Artist</p>
    <svg class="heart @filling" width="30" height="30" viewBox="0 0 30 30" @onclick="LikeSong">
        <path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"></path>
    </svg>
    
</div>

@code {
    [Parameter]
    public Song song { get; set; } = Song.Emtpy;

    protected string filling = "";

    public bool isLiked { get; set; } = false;
    public string likeButton { get; set; } = "Like";

    //MQTT message topic
    protected readonly string topic = "boombox/songs";

    //Publishing a MQTT message
    protected void PublishMqtt(string message)
    {
        _ = MqttConnection.GetInstance().PublishMessage(topic, message);
    }

    protected void LikeSong()
    {
        if (!likedSongsComponent.ContainsSong(song))
        {
            filling = "filling";
            likedSongsComponent.AddSong(song, localStorage);
            isLiked = true;
        }
        else
        {
            filling = "";
            likedSongsComponent.RemoveSong(song, localStorage);
            isLiked = false;
        }
        
    }

    protected override void OnInitialized()
    {
        if (likedSongsComponent.ContainsSong(song))
        {
            filling = "filling";
            isLiked = true;
        }
    }
}
